* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

body { 
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.header-section {
    flex-basis: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.header-section > h1 {
    text-align: center;
    margin-bottom: 20px;
}

.header-input-container {
    display: flex;
    align-items: center;
    padding-left: 10px;

    width: 100%;
    padding: 10px;
    border-radius: 15px;
}

.header-input-container input {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    padding: 10px;
}

.main-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 10px;
}

.main-image-section {
    width: 350px;
    background-size: cover;
    border-radius: 15px;
}

.main-utility-section {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr;
    height: 400px;
}

.utility-section-player {
    grid-column: 1 / 5;
}

.utility-section-player > iframe {
    height: 100%;
}

.utility-section-links {
    grid-column: 1 / 5;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.section-links-item {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-links-item a {
    display: block;
}

.section-links-item > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer p {
    cursor: pointer;
}

.footer #button {
    margin-top: 30px;
    user-select: none;
}

.footer #popup {
    display: none; 
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
}